/* site defaults */

::-webkit-scrollbar {
    display:none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}

iframe {
    width: 600px;
    height: 800px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    font-family: vendetta, serif;
    }

a {
    font-weight: 700;
    font-family: malaga, serif;
    font-style: normal;
    color: #2600ff;
}

a:visited {
    color: #00ffbf;
}

a:hover {
    font-style: italic;
}

/* top-level structure */



.navLeft {
    flex: 2;
    margin-top: 5vh;
    margin-left: 2vw;
}

.contentRight {
    display: flex;
    flex-direction: column;
    flex: 4;
    text-align: center;
    margin-top: 5vh;
    position: relative;
}

.heading {
    font-size: 18px;
    color: #00ff62;
    font-family: malaga, serif;
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
}

.running {
    word-wrap: break-word;
    color: #00ff62; 
    font-size: 14px;
    font-family: malaga, serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.4em;
}

.textContent {
   padding-right: 40px;
}




